.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
}

.find-icons__icon span {
  /* icon마다 다른 높이 보기 안 좋아서 통일할 수 있도록 span위의 마진값 줌 */
  margin-top: 15px;
}

.recommended-friends {
  margin: 25px 0px;
  padding-bottom: 25px 0px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  /* border 가 자주 사용되기 떄문에 variable에 변수로 만들기 */
  /* 안쪽으로 들어오는 것 : padding */
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba var(--color-black-5);
}

.recommended-friends span {
  margin: 100px 0;
  /* span 은 text-align 안 먹혀서 block 으로 바꿔줌 */
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--color-black-5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.open-chat__header span {
  opacity: 0.6;
  margin-bottom: 25px;
}

.open-post {
  display: flex;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--color-black-2);
}
.open-post__member-status {
  color: #ffb0e0;
}
