.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
}

.find-icons__icon span {
  /* icon마다 다른 높이 보기 안 좋아서 통일할 수 있도록 span위의 마진값 줌 */
  margin-top: 15px;
}

.recommended-friends {
  margin: 25px 0px;
  padding-bottom: 25px 0px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  /* border 가 자주 사용되기 떄문에 variable에 변수로 만들기 */
  /* 안쪽으로 들어오는 것 : padding */
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba var(--color-black-5);
}

.recommended-friends span {
  margin: 100px 0;
  /* span 은 text-align 안 먹혀서 block 으로 바꿔줌 */
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--color-black-5);
}

/* OPEN CHAT */
.open-chats__title {
  display: flex;
  justify-content: space-between;
  color: var(--color-black-5);
  font-weight: 600;
  margin-bottom: 40px;
}
.open-chats__title:nth-child(2) {
  color: var(--color-black-3);
}

.open-chat {
  display: flex;
  justify-content: space-between;
}
.open-chat__column {
  display: flex;
  flex-direction: column;
}

.open-chat__column-user {
  display: flex;
  align-items: center;
}

.open-chat__column-user img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 8px;
}
.open-chat__column:nth-child(2) img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-chat__column-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-black-5);
}
.open-chat__column-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-black-3);
  margin: 10px 0;
}
.open-chat__column-user:nth-child(2),
.open-chat__column-user:nth-child(3) {
  font-weight: 600;
  color: var(--color-black-5);
}
.open-chat__column-user:nth-child(2) {
  color: var(--color-black-5);
}

.open-chat__column-user:nth-child(3) {
  color: salmon;
}

.open-chat:nth-child(1) {
  border-bottom: 1px solid var(--color-black-2);
  padding-bottom: 20px;
}
.open-chat:nth-child(2) {
  padding-top: 20px;
}
.open-chat__column:nth-child(2) {
  position: relative;
}
.open-chat__column:nth-child(2) span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  display: block;
  padding: 5px;
  border-radius: 10px;
}
