#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  /* screen-header 에 margin-bottom: 15px추가했는데 
  chats 에선 괜찮지만 여기서는 안 좋아서 -10px따로 추가 */
  margin-top: -10px;
}

/* color 쓰는 법/ link 안의 i (i 마다 class주는 거 아님) */
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
  /* border variable 로 만든걸로 변경 */
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--color-black-5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /* 마우스에 걸리지 않게 해줌 . html은 여전히 있지만 클릭은 가능. 만약 아예 html을 제거하고 싶으면 js를 사용해야함.
    이건 브라우저가 이 요소를 무시하게 해주는 것일 뿐이다! */
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0; /* absolute하고 화면의 가장 위로 움직임(body기준으로) */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  color: rgb(36, 154, 201);
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
  /* 3. animation효과가 2초뒤에 발생 (splash-screen에서 대기하다가 animation 효과) 로딩되는 것 같은 효과 부여 */
  /* 
  1. forwards : 마지막 속성값은 마지막 keyframes으로 정해지고 애니메이션이 끝나고 유지한다.
  이 경우 : 마지막속성인 opacity: 0; 을 유지한다.
  이 속성을 부여하지 않을 경우 : splash-screen 은 opacity: 0 애니메이션 효과주고 다시 원래 속성으로 돌아오게 됨!

  
  2. 여기서 문제 : splash-screen 은 아직 그대로 있어서 friend.html 이 클릭이 불가해짐 -> visibility: hidden;
  
  */
}
