#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  /* screen-header 에 margin-bottom: 15px추가했는데 
  chats 에선 괜찮지만 여기서는 안 좋아서 -10px따로 추가 */
  margin-top: -10px;
}

/* color 쓰는 법/ link 안의 i (i 마다 class주는 거 아님) */
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
  /* border variable 로 만든걸로 변경 */
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--color-black-5);
}
