.nav {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(189, 189, 189, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

/* reset-sol.css 에 작성 */
/* .nav__link {
  color: inherit;
} */

/* - border을 사각형으로 만들고 싶다면, radius를 width의 절반값을 주면된다. */
/* 
    - position: absolute;는 정중앙. 
    absolute는 해당 element의 가장 가까운 relative를 가진 부모 기준으로 움직인다. 
    기본적으로 body가 그에 해당되며, 따로 원하는 기준이 있다면 
    그 container에 position: relative;를 준다. */

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__notification2 {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -5px;
}

@keyframes appearBtnAnimation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}

.nav__btn:last-child {
  animation-delay: 0.75s;
}
