.nav {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(189, 189, 189, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

/* reset-sol.css 에 작성 */
/* .nav__link {
  color: inherit;
} */

/* .friends-nav__chat-icon {
  position: relative;
} */

/* .nav-chat__num {
  background-color: rgb(255, 77, 45);
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  color: white;
} */

/* - border을 사각형으로 만들고 싶다면, radius를 width의 절반값을 주면된다. */
/* 
    - position: absolute;는 정중앙. 
    absolute는 해당 element의 가장 가까운 relative를 가진 부모 기준으로 움직인다. 
    기본적으로 body가 그에 해당되며, 따로 원하는 기준이 있다면 
    그 container에 position: relative;를 준다. */

.nav-notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav-notification2 {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -5px;
}
